@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap");

/* CSS for animated bouncing loader. */
/* OPTIONAL: Styles for the demo. */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans";
  outline: none;
  border: none;
}
body {
  background-color: #c3c3f8;
  min-height: 100vh;
}
html {
  overflow-x: hidden;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}
/*Navbar*/
.navbar a {
  text-decoration: none !important;
  outline: none !important;
}
.navbar-light .navbar-toggler {
  border-color: transparent !important;
}
.nav-item a {
  font-size: 16px !important;
  font-weight: 500;
}
.navbar a i {
  border: 2px;
  text-decoration: none;
}

.bi-house-door {
  height: 35px !important;
  width: 35px !important;
  border-radius: 5px;
  margin-top: 8px;
  background-color: #ebd1fb;
  display: flex;
  position: relative;
  font-size: 17px;
  color: #711ba7 !important;
}

.navbar .navbar-nav .nav-link {
  color: #000000 !important;
  font-size: 14px;
  border-radius: 8px;
  padding: 1rem;
}
.navbar .navbar-nav .nav-item {
  position: relative;
}
.navbar .navbar-nav .nav-item::after {
  position: absolute;
  bottom: 6px;
  left: 0;
  right: 0;
  content: "";
  background-color: rgb(134, 37, 158);
  width: 0%;
  height: 4px;
  transition: all 0.6s;
  border-radius: 17px;
}
.navbar {
  padding: 0;
}
.navbar .navbar-nav .nav-item:hover::after {
  width: 100%;
}

.navbar-toggler:focus {
  box-shadow: none;
}
.header {
  background-color: #ffffff;
}

/*Navbar End*/
@media (max-width: 767px) {
  .bi-house-door {
    display: none !important;
  }
}

/*Navbar End*/

.card {
  border-radius: 12px !important;
  width: 90%;
}
.bg-image img {
  border-radius: 12px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
/*Language Menu Start*/
.lang-menu {
  width: 100px;
  text-align: right;
  position: relative;
  z-index: 5555;
  margin-left: 5px;
  color: rgb(0, 0, 0);
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lang-menu .selected-lang {
  display: flex;
  line-height: 2;
  cursor: pointer;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}
.lang-menu .selected-lang:before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url(https://res.cloudinary.com/dss08c3ox/image/upload/v1661439612/united-state_gzkvkb.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.lang-menu ul {
  margin: 0;
  padding: 5px;
  display: none;
  background-color: #fff;
  position: absolute;
  right: 0px;
  width: 125px;
  border-radius: 5px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
}

.lang-menu ul li {
  list-style: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.lang-menu ul li a {
  text-decoration: none;
  width: 120px;
  padding: 5px 10px;
  font-size: 14px;
  font-family: "Noto Sans";
  color: #000;
}

.lang-menu ul li:hover {
  background-color: #e6eeff;
  width: 100%;
  border-radius: 5px;
}

.lang-menu ul li a:hover {
  color: rgb(0, 0, 0);
}
.lang-menu ul li a:before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  margin-right: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: -3px;
}

.en:before {
  background-image: url(https://res.cloudinary.com/dss08c3ox/image/upload/v1661439612/united-state_gzkvkb.png);
}

.ru:before {
  background-image: url(https://res.cloudinary.com/dss08c3ox/image/upload/v1661439612/russia_lxvh0v.png);
}

.lang-menu:hover ul {
  display: block;
}
/*Language Menu End*/
@media only screen and (max-width: 960px) {
  .sm-icons .nav-item {
    padding-right: 1em;
  }
  .navbar .navbar-nav .nav-link {
    width: 25%;
    text-align: center;
  }
}

.text-center h4 {
  color: #711ba7;
}

@media only screen and (max-width: 768px) {
  .subscribe__input {
    padding: 0 50px 0 20px;
  }
  .nav-item a .bi-house-door {
    display: none !important ;
  }
}

/*FOOTER START*/
footer a {
  text-decoration: none !important;
  outline: none !important;
}
/*FOOTER END*/
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #f6f0fa;
}
::-webkit-scrollbar-thumb {
  background: #9b1bea;
  border-radius: 17px;
}

/*deleting*/

/*FOOTER START*/
footer a {
  text-decoration: none !important;
  outline: none !important;
}
/*FOOTER END*/
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #f6f0fa;
}
::-webkit-scrollbar-thumb {
  background: #ad32f9;
  border-radius: 17px;
}
.bi-house-door {
  outline: none;
  text-decoration: none;
}

/*Contact Form Start*/

.button {
  display: inline-block;
  background: #9b1bea;
  border-radius: 5px;
  height: 48px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.button a {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  color: #ffffff;
  padding-left: 35px;
  padding-right: 35px;
}
.button:hover {
  opacity: 0.8;
}

.contact_info {
  width: 100%;
  padding-top: 70px;
}

.contact_info_item {
  width: calc((100% - 60px) / 3);
  height: 100px;
  border: solid 1px #e8e8e8;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  padding-left: 32px;
  padding-right: 15px;
  background-color: white;
  border-radius: 8px;
}
.contact_info_image {
  width: 35px;
  height: 35px;
  text-align: center;
}
.contact_info_image img {
  max-width: 100%;
}
.contact_info_content {
  padding-left: 17px;
}

.contact_info_title {
  font-weight: 500;
}
.contact_info_text {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

/*********************************
4.1 Contact Form
*********************************/

.contact_form {
  padding-top: 85px;
}

.contact_form_title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 37px;
}
.contact_form_inputs {
  margin-bottom: 30px;
}
.input_field {
  width: calc((100% - 60px) / 3);
  height: 50px;
  padding-left: 25px;
  border: solid 1px #e5e5e5;
  border-radius: 5px;
  outline: none;
  color: #6088a4;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.input_field:focus,
.text_field:focus {
  border-color: #b2b2b2;
}
.input_field:hover,
.text_field:hover {
  border-color: #b2b2b2;
}
.input_field::-webkit-input-placeholder,
.text_field::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}
.input_field:-moz-placeholder,
.text_field:-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}
.input_field::-moz-placeholder,
.text_field::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}
.input_field:-ms-input-placeholder,
.text_field:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}
.input_field::input-placeholder,
.text_field::input-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}
.text_field {
  width: 100%;
  height: 160px;
  padding-left: 25px;
  padding-top: 15px;
  border: solid 1px #e5e5e5;
  border-radius: 5px;
  color: #fefefe;
  outline: none;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.contact_submit_button {
  padding-left: 35px;
  padding-right: 35px;
  color: #ffffff;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 24px;
}
.panel {
  width: 100%;
  height: 50px;
  background: #ffffff;
  margin-top: 120px;
}

@media only screen and (max-width: 991px) {
  .contact_info_item {
    width: 100%;
    margin-bottom: 30px;
  }
  .contact_info_item:last-child {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .input_field {
    margin-bottom: 30px;
    width: 100%;
  }
  .input_field:last-child {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 575px) {
  .contact_submit_button {
    font-size: 13px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

/*Contact Form End*/
/*google map*/

.map_sec {
  padding: 50px 0px;
}
.map_inner h4,
.map_inner p {
  color: #000;
  text-align: center;
}
.map_inner p {
  font-size: 13px;
}
.map_bind {
  margin-top: 50px;
  border-radius: 30px;
  overflow: hidden;
}

/*Lang-menu*/
/*Language Menu Start*/
.lang-menu {
  width: 100px;
  text-align: right;
  position: relative;
  z-index: 5555;
  margin-left: 5px;
  color: rgb(0, 0, 0);
  height: 20px;
  top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lang-menu .selected-lang {
  display: flex;
  line-height: 2;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
}
.lang-menu .selected-lang:before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  background-image: url(https://res.cloudinary.com/dss08c3ox/image/upload/v1661439612/united-state_gzkvkb.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.lang-menu ul {
  margin: 0;
  padding: 5px;
  display: none;
  background-color: #fff;
  position: absolute;

  width: 125px;
  border-radius: 5px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  top: 20px;
  align-items: center;
  justify-content: center;
}

.lang-menu ul li {
  list-style: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.lang-menu ul li a {
  text-decoration: none;
  padding: 5px 10px;
  font-size: 14px !important;
  font-family: "Noto Sans";
  color: #000;
  width: 120px;
}

.lang-menu ul li:hover {
  background-color: #f1f1f1;
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lang-menu ul li a:hover {
  color: rgb(0, 0, 0);
}
.lang-menu ul li a:before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  margin-right: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: -3px;
}

.en:before {
  background-image: url(https://res.cloudinary.com/dss08c3ox/image/upload/v1661439612/united-state_gzkvkb.png);
}

.ru:before {
  background-image: url(https://res.cloudinary.com/dss08c3ox/image/upload/v1661439612/russia_lxvh0v.png);
}

.lang-menu:hover ul {
  display: block;
}
/*Language Menu End*/
/*Lang-menu*/
@media (max-width: 768px) {
  .lang-menu {
    width: 100px;
    text-align: right;
    position: absolute;
    margin-left: 5px;
    color: rgb(0, 0, 0);
    height: 20px;
    top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lang-menu ul {
    align-items: center;
    left: 0;
    top: 25px;
  }
}

/*Lang-menu-end*/

/*Lang-menu-end*/
/*Navbar Media Queries*/

@media only screen and (max-width: 960px) {
  .sm-icons .nav-item {
    padding-right: 1em;
  }
  .navbar .navbar-nav .nav-link {
    width: 100%;
    gap: 0px;
    text-align: center;
    line-height: 0.7px;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .bi-house-door {
    display: none !important;
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    padding: 0;
  }
  .navbar .navbar-nav .nav-item::after {
    display: none;
  }
  .navbar .navbar-nav .nav-item {
    position: relative;
  }
  .navbar .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 6px;
    left: 0;
    right: 0;
    content: "";
    background-color: rgb(134, 37, 158);
    width: 0%;
    height: 4px;
    transition: all 0.6s;
    border-radius: 17px;
  }
  .navbar {
    padding: 0;
  }
  .navbar .navbar-nav .nav-item:hover::after {
    width: 100%;
  }
}
/*Navbar Media Queries End*/
#button {
  display: inline-block;
  background-color: #8c3ff8;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 90px;
  right: 10px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  outline: none;
  text-decoration: none !important;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
  outline: none;
  text-decoration: none !important;
}

/* Styles for the content section */

@media (min-width: 500px) {
  #button {
    margin: 30px;
  }
}
